a.albumCar{
    text-decoration: none;
    color: black;
}

.imgPreview
{
    height: 4em;
    display: flex;
}
.imgPreview img
{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    flex: 33.33%;
    padding: 1px;
}

.privacyIcon{
    float: right;
}