.card {
    position: relative;
    display: flex;
    padding: 20px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}

.media img {
    width: 60px;
    height: 60px
}

#previewImg{
    position: relative;
    width: 200px;
}
#editBtn{
    width: 100%;
}

.postComments{
    max-height: 40em;
    overflow-y: auto ;
}

